@charset "ISO-8859-1";

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

body {
	background-color: #FFFFFF;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 16px !important;
}

p { 
	margin-left: 10px;
	font-size: 14px !important;}

h3{
	margin-left: 10px;
}	
	
#formCadastrar, #frmProximidade, #frmTable, #imgDesenvolvedora{
	margin-left: 10px;
}

#imgDesenvolvedora{
	float: left;
}
	
}



